version: '3.8'
services:
  php:
    build: .
    container_name: ntryjob_php
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    environment:
      XDEBUG_MODE: develop,debug
      XDEBUG_CONFIG: "client_host=host.docker.internal client_port=9003"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: ntryjob_db
    environment:
      MYSQL_ROOT_PASSWORD: 7394
      MYSQL_DATABASE: ntryjob
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3307:3306"
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql

volumes:
  db_data: